  /* Resetting default margins and padding */
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.logo{
  width: 20px;
  height: 20px;
  padding: 20px 10px;
  margin: 5px;
}

.logo a{
    color: black;
    text-decoration: none;
}

.header{
  background: radial-gradient(#fff,#ffd6d6);
  width: 1050px;
}
.header .row{
  margin-top: 20px;
}

 .navbar ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
   }

   .navbar li {
       float: left;
   }

   .navbar li a {
       display: block;
       color: white;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
   }
   .navbar{
  display: flex;
  align-items: center;
  padding: 20px;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul{
  display: inline-block;
  list-style-type: none;
}

nav ul li{
  display: inline-block;
  margin-right: 20px;
  font-size: 17px;
  font-weight: bold;
  background-color: black;
  border-radius: 50px;
}

#cart-item span{
  position: absolute;
  top: 55px;
  margin-left: 15px;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 28px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

span h5{
  width: 20px;
  height: 25px;
  margin-left: 5px;
}

.container{
  width: 950px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  
}
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-6{
  display: flex;
  justify-items: center;
  align-items: center;
}
.col-6 img{
  width: 400px;
  padding: 20px 0;
  border-radius: 50px;
}
.col-6 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.col-2{
  display: flex;
  justify-items: center;
  align-items: center;
}
.col-2 img{
  width: 200px;
  padding: 20px 0;
  border-radius: 100px;
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.M{
  margin: 20px;
}
.btn{
  display: inline-block;
  background: #ff523b;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 10px;
  transition: background 0.5s;
}
.btn:hover{
  background: #563434;
}

/*----header section----*/

.Header{
  background: radial-gradient(#fff,#ffd6d6);
  width: 1040px;
  margin: 10px;
  height: 400px;
}

.Header .row{
  margin-top: 20px;
}

.headers{
  background: radial-gradient(#fff);
  width: 1000px;
}

.headers img{
    width: 100%;
    margin-left: 15px;
}

.headers h4{
    font-size: 30px;
    margin-left: 25px;
}

.box-4 img{
    width: 175px;
    height: 150px;
    margin-left: 50px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.box-4 p{
    font-weight: 600;
    margin-left: 10px;
    margin-top: 20px;
}
.bbo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bbo p{
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.small-container{
  width: 950px;
  margin: 30px;
  padding-left: 25px;
  padding-right: 25px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
 }
 
 .col-7{
     flex-basis: 5%;
  padding: 10px;
  width: 200px;
  margin-bottom: 30px;
  transition: transform 0.9s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10%;
  margin-top: 30px;
 }
 .col-7 img{
     width: 200px;
 }
 
.col-4{
  flex-basis: 5%;
  padding: 10px;
  min-width: 400px;
  margin-bottom: 30px;
  transition: transform 0.9s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10%;
  margin-top: 30px;
}
.col-4 img{
  width: 100%;
}
.title{
  text-align: center;
  margin: 0 auto 0px;
  position: Relative;
  line-height: 60px;
  color: #555;
}
.title::after{
  content: '';
  background: #ff523b;
  width: 80px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 470px;
  transform: translateX(-50px);
}
h4{
  color: #000000;
}

h6{
  color: #000000;
  font-size: 30px;
}

.col-4 p{
  font-size: 20px;
  font-weight: bolder;
}
.p{
  font-size: 25px;
}
.star-rating{
  color: #ff523b;
}

.col-4:hover{
  transform: translateY(-5px);
}

.box-5{
    margin-bottom: 20px;
}
.ceo{
    width: 250px;
    height: 300px;
    margin-left: 100px;
    border-radius: 5px;
    margin-bottom: -50px;
    margin-top: 10px;
}



/* Cart styles */
.cart {
    position: absolute;    
    top: 180px;
    background: #fff;   
    width : 950px;
    height: 1080px;
    padding: 23px; 
    border-radius : 10px;
    display: none;
}

h3{
   display: flex;     
   justify-content: center;     
   align-items: center;         
   background: goldenrod;        
   border-radius : 3px;
   height: 35px;
   font-size: 25px;
}
#cart-list {
    display: flex;
    justify-content: right;
    align-items: right;
    font-size: 30px;
    font-weight: bolder;
    width: 70%;
    height: 35%;
    border-radius: 10px;
}

#cart-list img{
    margin-top: 25px;
    margin-left: 35px;
    height: 60%;
    width: 55%;
    border-radius: 5px;
}
#cart-list h2{
    position: absolute;
    top: 70px;
    right: 135px;
    font-size: 35px;
    font-weight: 500;
}
#cart-list p{
    position: absolute;
    top: 130px;
    right: 435px;
    font-size: 35px;
    font-weight: 600;
}
#cart-list button{
    position: relative;
    top: -100px;
    right: -300px;
    border-radius: 35px;
    width: 120px;
}
.cart h4{
    margin-top: 100%;
    border-top: 3px solid black;
    width: 100%;
    font-size: 30px;
    font-weight: 500;
}
h4 span{
    position: absolute;
    right: 25px;
}


footer{
      background: radial-gradient(#fff,#ffd6d6);
  width: 1050px;
  margin-top: 25px;
  background: #000000;
}

footer .row{
  margin-top: 20px;
}

.box-2 ul{
       list-style-type: none;
       margin: 0;
       padding: 0;
       overflow: hidden;
   }

.box-2 li {
       float: left;
   }

.box-2 li a {
       display: block;
       color: black;
       text-align: center;
       padding: 14px 16px;
       text-decoration: none;
       color:#fff;
   }
   
.box-2{
  display: flex;
  align-items: center;
  padding: 20px;
}

.box{
  flex: 1;
  text-align: right;
}

.box ul{
  display: inline-block;
  list-style-type: none;
}
.box ul li{
  display: inline-block;
  margin-right: 20px;
}

footer .box-3{
    display: flex;
    margin-left: 420px;
    color: #fff;
}

.box-6{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.social h2{
    color: #fff;
    margin-right: 150px;
}

.download img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.download h2{
    color: #fff;
    margin-right: 65px;
}
.col-8{
  flex-basis: 5%;
  padding: 10px;
  width: 290px;
  margin-bottom: 50px;
  transition: transform 0.9s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10%;
  font-weight: bold;
  font-size: 30px;
}
.col-8 img{
  width: 290px;
  border-radius: 10%;
}

.location-1{
    text-align: center;
    margin-top: 400px;
    margin-bottom: 400px;
    height: 80px;
    background-color: ;
}

.location-1 button{
    font-size: 80px;
    font-weight: bolder;
}

.location-2{
    text-align: center;
    margin-top: 400px;
    margin-bottom: 20px;
    height: 40px;
}

.location-2 button{
    font-size: 40px;
    font-weight: bolder;
}



    
        #popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #ccc;
            padding: 20px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        #overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }


.small-container h4{
    text-align: center;
}


#popup{
    font-size: 30px;
    width: 500px;
    height: 250px;
}

#menu{
    width: 400px;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 26px;
  }


 .col-9{
  flex-basis: 5%;
  padding: 10px;
  width: 290px;
  margin-bottom: 50px;
  transition: transform 0.9s;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10%;
  font-weight: bold;
  font-size: 15px;
  margin-left: 30px;
  margin-top: 50px;
}
.col-9 img{
  width: 290px;
  border-radius: 10%;
}

.small-containers{
  width: 200px;
  margin: 10px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-left: 50px;
}

.col-9 h2{
    text-align: center;
}

.col-9 h1{
    text-align: center;
    font-size: 10px;
}

.registe {
  width: 100px;
  margin: 10px;
  padding-left: 2px;
  padding-right: 5px;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
  margin-left: 80px;
  text-align: center;
}

.col-9 button{
    width: 120px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

.video-container {
      width: 100%; /* Example: Full width of its parent */
      height: 100px; /* Example: Fixed height */
      position: relative; /* Essential for absolute positioning of video */
      overflow: hidden; /* Hides any video content that overflows */
    }
    
        .video-container video {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Scales the video to fill the container, cropping if necessary */
      /* object-fit: contain; // Alternatively, scales to fit entirely within the container, adding letterboxing if aspect ratios differ */
      position: absolute; /* Positions the video relative to its parent container */
      top: 0;
      left: 0;
    }
    video {
        
  }
